<div class="col-12">
    <h6 class="sub-heading">{{'ERP.GUARANTOR_DETAILS' | translate}}</h6>
            <div class="stepper-top-section-strip">
                <div class="row ">
                    <div class="col-lg-3 col-md-3 col-sm-12">
                        <div class="form-group">
                        <span>{{'ERP.PRODUCT' | translate}} </span>
                        <p class="mb-0">Term Loans</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12">
                        <div class="form-group">
                        <span>{{'ERP.APPLICATION_TYPE' | translate}}</span>
                        <p class="mb-0">Single</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12">
                        <div class="form-group">
                        <span>{{'ERP.LOAN_ACCOUNT_NO' | translate}} </span>
                        <p class="mb-0">634545450</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12">
                        <div class="form-group">
                        <span>{{'ERP.REQUEST_AMOUNT' | translate}} </span>
                        <p class="mb-0">30,000</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12"></div>
                <form [formGroup]="guarantorform">
                    <div class="mt-n1 bg-label-colorfull">
                    <div class="row g-3">
                        <div class="col-lg-3 col-md-4 col-sm-12">
                                <label for="number"> {{'ERP.ADMISSION_NUMBER' | translate}} 
                                </label>
                                <p-multiSelect placeholder="Select" optionLabel="label" [showClear]="true" />
        
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-12">
                                <label for="number"> {{'ERP.NO_OF_JOINT_HOLDERS' | translate}} 
                                </label>
                            <input pInputText id="bunit_txt_name" maxlength="40" type="text" placeholder="Enter No of Joint Holders">
        
                        </div>
                    </div>
                    </div>
                    <div class="col-12 mb-2"></div>

        <h6 class="sub-heading">{{'ERP.GUARANTORS' | translate}} </h6>
        <div class="col-12 p-3 mem-details-stripbox">
            <div class="col-auto rounded bg-white mb-2">
                <div class="d-flex">
                    <div class="col">
                        <img class="mem-details-stripimage" src="assets/images/avata2r-table.png" alt="secondaryholder-image" />
                    </div>

                    <div class="col"></div>

                    <div class="w-100 mt-1 mb-2 h-90p">
                        <div class="row">
                            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 min-h-50px">
                                <div class="col">
                                <span>{{'ERP.ADMISSION_NO' | translate}}</span>
                                <p class="font-semibold text-break m-0">123455</p>
                            </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 min-h-50px">
                                <div class="col">
                                <span>{{'ERP.NAME' | translate}}</span>
                                <p class="font-semibold text-break m-0">Satish</p>
                            </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 min-h-50px">
                                <div class="col">
                                <span>{{'ERP.MEMBER_TYPE' | translate}}</span>
                                <p class="font-semibold text-break m-0">A-Class</p>
                            </div>
                            </div>
                            <!-- <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 min-h-50px">
                                <div class="col">
                                <span>{{'ERP.CLASS' | translate}}</span>
                                <p class="font-semibold text-break m-0">{{guarantorDetails.class}}</p>
                                </div>
                            </div> -->
                            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 min-h-50px">
                                <div class="col">
                                <span>{{'ERP.ADMISSION_DATE' | translate}}</span>
                                <p class="font-semibold text-break m-0">10/02/2001</p>
                            </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 min-h-50px">
                                <div class="col">
                                <span>{{'ERP.AADHAR_NO' | translate}}</span>
                                <p class="font-semibold text-break m-0">8745 2458 2236</p>
                            </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 min-h-50px">
                                <div class="col">
                                <span>{{'ERP.PAN_NUMBER' | translate}}</span>
                                <p class="font-semibold text-break m-0">JYTRN7865J</p>
                            </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 min-h-50px">
                                <div class="col">
                                <span>{{'ERP.MOBILE_NUMBER' | translate}}</span>
                                <p class="font-semibold text-break m-0">8542647821</p>
                            </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 min-h-50px">
                                <div class="col">
                                <span>{{'ERP.EMAIL' | translate}}</span>
                                <p class="font-semibold text-break m-0">satish@gmail.com</p>
                            </div>
                            </div>
                            <!-- <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 min-h-50px">
                                <div class="col">
                                <span>{{'ERP.KYC' | translate}}</span>
                                <p class="font-semibold text-break m-0">{{guarantorDetails.isKycApproved}}</p>
                                </div>
                            </div> -->
                        </div>
                    </div>

                </div>
            </div>
        </div>   
    </form>
</div>